html,body
{
    margin:0em;
    padding:0em;
    background-color: white;
    font-size: 20px;
    font-family: Arial;
}
#mainblock
{
    min-width: 300px;
    position: relative;
    background-color:#2CC3FF;
    margin: 4em auto;
    border: 1px solid #2CC3FF;
    border-radius: 2ex;
    height: 40ex;
    width: 30%;
}

#whisper
{
    position:absolute;
    top: 5ex;
    right: 10%;
    border: 1px dotted white;
    padding: 2ex 2em;
    border-radius: 2ex;
    background-color: rgba(255,255,255,0.3);
    color: white;
    font-size: 15px;
}
#whisper::before, #whisper::after 
{
    content: ''; 
    position: absolute;
    right: 5ex; 
    bottom: -3ex;
    border: 2ex solid transparent;
    border-top: 1ex solid white;
}

#head
{
    margin: 15ex auto 0ex auto;
    position:relative;
    width: 50%;
    height: 25ex;
    background:black;
    border-radius: 8ex 8ex 0ex 0ex;
}

#head::after
{
    content: ''; 
    position: absolute;
    left: 100%; 
    top: 10ex;
    border: 4ex solid transparent; 
    border-left: 4ex solid #ddb61a;
}

#eye
{
    width : 1.5em;
    height: 3ex;
    top: 10ex;
    position: relative;
    margin: 0ex auto;
    background :white;

}
