body{
    background-color: #00ccff;
  }
  
  
.head{
    width: 350px;
    height: 350px;
    background-color: black;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    position:absolute;  
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;

}
  
.eye{
    width: 50px;
    height: 40px;
    background-color: white;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  
#beak_Top{
    border-top: 50px solid transparent;
    border-left: 100px solid rgb(255, 255, 9);
    border-bottom: 50px solid transparent;
    margin-left: 350px;
  }

#beak_Bottom{
    border-top: 50px solid transparent;
    border-left: 100px solid rgb(212, 212, 0);
    border-bottom: 50px solid transparent;
    margin-left: 350px;
  }